@if (IsVisible)
{
    <NoteModal
        @bind-Visible="@IsVisible"
        Model="@Dto"
        NoteId="@NoteId"
        IsCreate="@IsCreate" />
}

<Button Type="primary" OnClick="@ShowModal">
    Добавить
</Button>

<Table @ref="_table"
       TItem="NoteLookUpDto"
       DataSource="@Notes"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="SelectedRows"
       OnChange="OnChange">
    <ChildContent Context="context">
        <Selection Key="@context.Id"/>
        <PropertyColumn Property="c => c.Id" Sortable/>
        <PropertyColumn Property="c => c.Title" Sortable/>
        <ActionColumn Title="Action">
            <Space>
                <SpaceItem>
                    <Button Danger OnClick="() => Delete(context.Id)">Delete</Button>
                </SpaceItem>
            </Space>            
            <Space>
                <SpaceItem>
                    <Button OnClick="() => UpdateAsync(context.Id)">Update</Button>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </ChildContent>
</Table>

<br />
<p>PageIndex: @_pageIndex | PageSize: @_pageSize | Total: @_total</p>

<br />
<h5>selections:</h5>
@if (SelectedRows != null && SelectedRows.Any())
{
  <Button Danger Size="small" OnClick="@(e => { SelectedRows = null; })">Clear</Button>

  @foreach (var selected in SelectedRows)
  {
    <Tag @key="selected.Id" Closable OnClose="e=>RemoveSelection(Convert.ToInt32(selected.Id))">@selected.Id - @selected.Title</Tag>
  }
}

<Button OnClick="()=> { _pageIndex--; }">Previous page</Button>
<Button OnClick="()=> { _pageIndex++; }">Next Page</Button>

@code {
    
}
